<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <title>Ruby Geocoder</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/yui-3.3.0-combo.css" />
    <style>
      body { margin:auto; width:780px; color:#555; padding-bottom:40px; }
      h2, h3, h4 { color:#000; }
      h3 { margin-top:24px; font-size:131%; }
      h4 { margin-bottom:12px; }
      a { color:#555; }
      th, td { border:none; vertical-align:top; }
      code { color:#333; }
      dt { font-weight:bold; margin-top:18px; }
      input { border:1px solid #ccc; padding:2px; }
      fieldset { border:1px solid #ccc; padding:8px; }
      legend { font-size:85%; text-transform:uppercase; }
      .centered { text-align:center; }
      .annotation { font-size:85%; color:#EE127B; font-style:italic; }
      .block { margin-bottom:12px; }
      .filename { font-weight:bold; font-size:85%; }
      .separator { text-align:center; margin:24px 0; border-bottom:1px solid #EE127B; }
      .tight td { padding:0px 4px; }
    </style>
    <script async data-id="101417594" src="//static.getclicky.com/js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
